@import "tailwindcss";
.login{
  padding: 0.6rem 1.2rem !important;
}

@font-face {
  font-family: Inter;
  src: url("../assets/fonts/Inter_18pt-Medium.ttf");
}

@font-face {
  font-family: Orbitron;
  src: url("../assets/fonts/Orbitron-Regular.ttf");
}

@font-face {
  font-family: Poppins;
  src: url("../assets/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: RacingSansOne;
  src: url("../assets/fonts/RacingSansOne-Regular.ttf");
}

@theme {
  --font-inter: "Inter", sans-serif;
  --font-orbitron: "Orbitron", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-racing: "RacingSansOne", sans-serif;
  --background-image-custom-gradient: linear-gradient(180deg, #9d7df9 0%, #708bf4 50%, #5385ed 100%);
  }